body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 100px;
  background-color: #f0f0f0;
}

h1 {
  color: #2d6a4f;
}
hr {
  margin: 40px auto;
  width: 50%;
  border: 1px solid #ccc;
}

a {
  color: #2d6a4f;
}
button {
  padding: 10px 20px;
  cursor: pointer;
}

.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode a {
  color: #4caf50;
}
